<h2 class="title-border-left">
    你的电影名选择记录
</h2>

<hr>

<table class="table table-bordered">
  <tr>
    <th class="t-center">ID</th>
    <th class="t-center">推荐数量</th>
    <th class="t-center span8">名称</th>
    <th class="t-center"></th>
    <th class="t-center"></th>
    <th class="t-center"></th>
  </tr>

<% @namesearches.each do |namesearch| %>
  <tr>
    <td class="t-center"><%= namesearch.id %></td>
    <td class="t-center"><%= namesearch.number %></td>
    <td class="t-center"><button class="btn btn-block"><%= namesearch.name %></button></td>
    <td class="t-center"><%= link_to '显示推荐', namesearch, class:"btn btn-info btn-block" %></td>
    <td class="t-center"><%= link_to '编辑标签', edit_namesearch_path(namesearch), class:"btn btn-success btn-block" %></td>
    <td class="t-center"><%= link_to '删除记录', namesearch, class:"btn btn-danger btn-block", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '妹子给个电影名', new_namesearch_path, class:"btn btn-info" %>
